schema/ie717.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ie="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:IE717:V3.01" xmlns:emcs="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:EMCS:V3.01" xmlns:tms="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:TMS:V3.01" xmlns:tcl="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:TCL:V3.01" xmlns:doc="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:DOC:V3.01" targetNamespace="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:IE717:V3.01" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.00">
  <!--=========================================-->
  <!--===== IE717:C_CCR_DAT -->
  <!--===== CONTROL REPORT -->
  <!--=========================================-->
  <!--===== Imports =====-->
  <xs:import namespace="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:EMCS:V3.01" schemaLocation="types.xsd" />
  <xs:import namespace="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:TMS:V3.01" schemaLocation="tms.xsd" />
  <xs:import namespace="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:TCL:V3.01" schemaLocation="tcl.xsd" />
  <xs:import namespace="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:DOC:V3.01" schemaLocation="doc.xsd" />
  <!--===== Root Element =====-->
  <xs:element name="IE717" type="ie:IE717Type" />
  <!--===== EMCS Data Groups Declarations =====-->
  <xs:complexType name="IE717Type">
    <xs:sequence>
      <xs:element name="Header" type="tms:HeaderType" />
      <xs:element name="Body" type="ie:BodyType" />
    </xs:sequence>
  </xs:complexType>
  <!--===== IE Specific Data Groups Declarations =====-->
  <xs:complexType name="BodyType">
    <xs:sequence>
      <xs:element name="ControlReportEnvelope" type="ie:ControlReportEnvelopeType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ControlReportEnvelopeType">
    <xs:sequence>
      <xs:element name="Attributes" type="ie:AttributesType" />
      <xs:element name="HeaderControlReport" type="ie:HeaderControlReportType" />
      <xs:element name="ExciseMovement" type="ie:ExciseMovementType" minOccurs="0" />
      <xs:element name="OtherAccompanyingDocument" type="ie:OtherAccompanyingDocumentType" minOccurs="0" />
      <xs:element name="ControlReport" type="ie:ControlReportType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AttributesType">
    <xs:sequence>
      <xs:element name="ControlReportMessageType" type="tcl:ControlReportMessageType" />
      <xs:element name="DateAndTimeOfValidationOfControlReport" type="emcs:DateTimeType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HeaderControlReportType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(HEADER) CONTROL REPORT" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ControlReportReference" type="emcs:ControlReportReferenceType" />
      <xs:element name="ControlOffice" type="ie:ControlOfficeType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ControlOfficeType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="CONTROL OFFICE" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ReferenceNumberOfControlOffice" type="emcs:ExciseOfficeCodeType" minOccurs="0" />
      <xs:element name="MemberStateCode" type="emcs:MemberStateCodeType" minOccurs="0" />
      <xs:element name="ControlOfficeName" type="emcs:ControlOfficeNameType" minOccurs="0" />
      <xs:element name="StreetName" type="emcs:StreetNameType" minOccurs="0" />
      <xs:element name="StreetNumber" type="emcs:StreetNumberType" minOccurs="0" />
      <xs:element name="Postcode" type="emcs:PostcodeType" minOccurs="0" />
      <xs:element name="City" type="emcs:CityType" minOccurs="0" />
      <xs:element name="PhoneNumber" type="emcs:PhoneNumberType" minOccurs="0" />
      <xs:element name="FaxNumber" type="emcs:FaxNumberType" minOccurs="0" />
      <xs:element name="EmailAddress" type="emcs:EmailAddressType" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="language" type="emcs:LanguageCodeType" use="optional" />
  </xs:complexType>
  <xs:complexType name="ExciseMovementType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="EXCISE MOVEMENT" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AdministrativeReferenceCode" type="emcs:AdministrativeReferenceCodeType" />
      <xs:element name="SequenceNumber" type="emcs:SequenceNumberType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OtherAccompanyingDocumentType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="OTHER ACCOMPANYING DOCUMENT" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="OtherAccompanyingDocumentType" type="tcl:OtherAccompanyingDocumentType" />
      <xs:element name="ShortDescriptionOfOtherAccompanyingDocument" type="ie:LSDShortDescriptionOfOtherAccompanyingDocumentType" minOccurs="0" />
      <xs:element name="OtherAccompanyingDocumentNumber" type="emcs:OtherAccompanyingDocumentNumberType" />
      <xs:element name="OtherAccompanyingDocumentDate" type="emcs:DateType" />
      <xs:element name="ImageOfOtherAccompanyingDocument" type="xs:base64Binary" minOccurs="0" />
      <xs:element name="MemberStateOfDispatch" type="emcs:MemberStateOfDispatchType" />
      <xs:element name="MemberStateOfDestination" type="emcs:MemberStateOfDestinationType" />
      <xs:element name="PersonInvolvedInMovementTrader" type="ie:PersonInvolvedInMovementTraderType" minOccurs="0" maxOccurs="9" />
      <xs:element name="GoodsItem" type="ie:GoodsItemType" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="MeansOfTransport" type="ie:MeansOfTransportType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonInvolvedInMovementTraderType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(PERSON INVOLVED IN MOVEMENT) TRADER" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TraderExciseNumber" type="emcs:ExciseNumberType" minOccurs="0" />
      <xs:element name="Traderid" type="emcs:TraderidType" minOccurs="0" />
      <xs:element name="TraderName" type="emcs:TraderNameType" minOccurs="0" />
      <xs:element name="TraderPersonType" type="tcl:TraderPersonType" minOccurs="0" />
      <xs:element name="MemberStateCode" type="emcs:MemberStateCodeType" minOccurs="0" />
      <xs:element name="StreetName" type="emcs:StreetNameType" minOccurs="0" />
      <xs:element name="StreetNumber" type="emcs:StreetNumberType" minOccurs="0" />
      <xs:element name="Postcode" type="emcs:PostcodeType" minOccurs="0" />
      <xs:element name="City" type="emcs:CityType" minOccurs="0" />
      <xs:element name="PhoneNumber" type="emcs:PhoneNumberType" minOccurs="0" />
      <xs:element name="FaxNumber" type="emcs:FaxNumberType" minOccurs="0" />
      <xs:element name="EmailAddress" type="emcs:EmailAddressType" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="language" type="emcs:LanguageCodeType" use="optional" />
  </xs:complexType>
  <xs:complexType name="GoodsItemType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="GOODS ITEM" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DescriptionOfTheGoods" type="emcs:DescriptionOfTheGoodsType" minOccurs="0" />
      <xs:element name="CnCode" type="emcs:CnCodeType" minOccurs="0" />
      <xs:element name="CommercialDescriptionOfTheGoods" type="emcs:CommercialDescriptionOfTheGoodsType" minOccurs="0" />
      <xs:element name="AdditionalCode" type="emcs:AdditionalCodeType" minOccurs="0" />
      <xs:element name="Quantity" type="emcs:QuantityType" minOccurs="0" />
      <xs:element name="UnitOfMeasureCode" type="emcs:UnitOfMeasureCodeType" minOccurs="0" />
      <xs:element name="GrossMass" type="emcs:GrossMassType" minOccurs="0" />
      <xs:element name="NetMass" type="emcs:NetMassType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MeansOfTransportType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="MEANS OF TRANSPORT" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TraderName" type="emcs:TraderNameType" />
      <xs:element name="StreetName" type="emcs:StreetNameType" />
      <xs:element name="StreetNumber" type="emcs:StreetNumberType" minOccurs="0" />
      <xs:element name="TransporterCountry" type="emcs:TransporterCountryType" />
      <xs:element name="Postcode" type="emcs:PostcodeType" />
      <xs:element name="City" type="emcs:CityType" />
      <xs:element name="TransportModeCode" type="emcs:TransportModeCodeType" />
      <xs:element name="AcoComplementaryInformation" type="ie:LSDAcoComplementaryInformationType" minOccurs="0" />
      <xs:element name="Registration" type="emcs:RegistrationType" />
      <xs:element name="CountryOfRegistration" type="emcs:CountryOfRegistrationType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ControlReportType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="CONTROL REPORT" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DateOfControl" type="emcs:DateType" />
      <xs:element name="PlaceOfControl" type="ie:LSDPlaceOfControlType" />
      <xs:element name="ControlType" type="tcl:ControlType" />
      <xs:element name="ReasonForControl" type="tcl:ReasonForControl" />
      <xs:element name="ComplementaryOriginReference" type="ie:LSDComplementaryOriginReferenceType" minOccurs="0" />
      <xs:element name="ControlOfficerIdentity" type="ie:LSDControlOfficerIdentityType" />
      <xs:element name="GlobalControlConclusion" type="tcl:GlobalControlConclusion" />
      <xs:element name="ControlAtArrivalRequired" type="tcl:Flag" />
      <xs:element name="Flag" type="tcl:Flag" />
      <xs:element name="Comments" type="ie:LSDCommentsType" minOccurs="0" />
      <xs:element name="PerformedControlAction" type="ie:PerformedControlActionType" maxOccurs="99" />
      <xs:element name="SupportingEvidence" type="ie:SupportingEvidenceType" minOccurs="0" maxOccurs="9" />
      <xs:element name="UnsatisfactoryReason" type="ie:UnsatisfactoryReasonType" minOccurs="0" maxOccurs="9" />
      <xs:element name="TransportDetails" type="ie:TransportDetailsType" minOccurs="0" maxOccurs="99" />
      <xs:element name="BodyControlReport" type="ie:BodyControlReportType" minOccurs="0" maxOccurs="99" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PerformedControlActionType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="PERFORMED CONTROL ACTION" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PerformedControlAction" type="tcl:PerformedControlAction" />
      <xs:element name="OtherControlAction" type="ie:LSDOtherControlActionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SupportingEvidenceType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="SUPPORTING EVIDENCE" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="IssuingAuthority" type="ie:LSDIssuingAuthorityType" minOccurs="0" />
      <xs:element name="EvidenceTypeCode" type="emcs:EvidenceTypeCodeType" />
      <xs:element name="EvidenceTypeComplement" type="ie:LSDEvidenceTypeComplementType" minOccurs="0" />
      <xs:element name="ReferenceOfEvidence" type="ie:LSDReferenceOfEvidenceType" minOccurs="0" />
      <xs:element name="ImageOfEvidence" type="xs:base64Binary" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UnsatisfactoryReasonType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="UNSATISFACTORY REASON" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="UnsatisfactoryReasonCode" type="emcs:UnsatisfactoryReasonCodeType" />
      <xs:element name="ComplementaryInformation" type="ie:LSDComplementaryInformationType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransportDetailsType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="TRANSPORT DETAILS" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TransportUnitCode" type="emcs:TransportUnitCodeType" />
      <xs:element name="IdentityOfTransportUnits" type="emcs:IdentityOfTransportUnitsType" minOccurs="0" />
      <xs:element name="CommercialSealIdentification" type="emcs:CommercialSealIdentificationType" minOccurs="0" />
      <xs:element name="SealInformation" type="ie:LSDSealInformationType" minOccurs="0" />
      <xs:element name="ComplementaryInformation" type="ie:LSDComplementaryInformationType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BodyControlReportType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(BODY) CONTROL REPORT" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="BodyRecordUniqueReference" type="emcs:BodyRecordUniqueReferenceType" minOccurs="0" />
      <xs:element name="DescriptionOfTheGoods" type="emcs:DescriptionOfTheGoodsType" minOccurs="0" />
      <xs:element name="CnCode" type="emcs:CnCodeType" minOccurs="0" />
      <xs:element name="AdditionalCode" type="emcs:AdditionalCodeType" minOccurs="0" />
      <xs:element name="IndicatorOfShortageOrExcess" type="tcl:IndicatorOfShortageOrExcess" minOccurs="0" />
      <xs:element name="ObservedShortageOrExcess" type="emcs:ObservedShortageOrExcessType" minOccurs="0" />
      <xs:element name="Comments" type="ie:LSDCommentsType" minOccurs="0" />
      <xs:element name="UnsatisfactoryReason" type="ie:UnsatisfactoryReasonType" minOccurs="0" maxOccurs="9" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LSDAcoComplementaryInformationType">
    <xs:simpleContent>
      <xs:extension base="emcs:AcoComplementaryInformationType">
        <xs:attribute name="language" type="emcs:LanguageCodeType" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LSDCommentsType">
    <xs:simpleContent>
      <xs:extension base="emcs:CommentsType">
        <xs:attribute name="language" type="emcs:LanguageCodeType" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LSDComplementaryInformationType">
    <xs:simpleContent>
      <xs:extension base="emcs:ComplementaryInformationType">
        <xs:attribute name="language" type="emcs:LanguageCodeType" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LSDComplementaryOriginReferenceType">
    <xs:simpleContent>
      <xs:extension base="emcs:ComplementaryOriginReferenceType">
        <xs:attribute name="language" type="emcs:LanguageCodeType" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LSDControlOfficerIdentityType">
    <xs:simpleContent>
      <xs:extension base="emcs:ControlOfficerIdentityType">
        <xs:attribute name="language" type="emcs:LanguageCodeType" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LSDEvidenceTypeComplementType">
    <xs:simpleContent>
      <xs:extension base="emcs:EvidenceTypeComplementType">
        <xs:attribute name="language" type="emcs:LanguageCodeType" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LSDIssuingAuthorityType">
    <xs:simpleContent>
      <xs:extension base="emcs:IssuingAuthorityType">
        <xs:attribute name="language" type="emcs:LanguageCodeType" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LSDOtherControlActionType">
    <xs:simpleContent>
      <xs:extension base="emcs:OtherControlActionType">
        <xs:attribute name="language" type="emcs:LanguageCodeType" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LSDPlaceOfControlType">
    <xs:simpleContent>
      <xs:extension base="emcs:PlaceOfControlType">
        <xs:attribute name="language" type="emcs:LanguageCodeType" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LSDReferenceOfEvidenceType">
    <xs:simpleContent>
      <xs:extension base="emcs:ReferenceOfEvidenceType">
        <xs:attribute name="language" type="emcs:LanguageCodeType" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LSDSealInformationType">
    <xs:simpleContent>
      <xs:extension base="emcs:SealInformationType">
        <xs:attribute name="language" type="emcs:LanguageCodeType" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LSDShortDescriptionOfOtherAccompanyingDocumentType">
    <xs:simpleContent>
      <xs:extension base="emcs:ShortDescriptionOfOtherAccompanyingDocumentType">
        <xs:attribute name="language" type="emcs:LanguageCodeType" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>
