schema/ie820.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ie="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE3:IE820:V2.02" xmlns:emcs="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE3:EMCS:V2.02" xmlns:tms="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE3:TMS:V2.02" xmlns:tcl="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE3:TCL:V2.02" xmlns:doc="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE3:DOC:V2.02" targetNamespace="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE3:IE820:V2.02" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.00">
  <!--=========================================-->
  <!--===== IE820:C_HIM_RES -->
  <!--===== HISTORY RESULTS -->
  <!--=========================================-->
  <!--===== Imports =====-->
  <xs:import namespace="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE3:EMCS:V2.02" schemaLocation="types.xsd" />
  <xs:import namespace="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE3:TMS:V2.02" schemaLocation="tms.xsd" />
  <xs:import namespace="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE3:TCL:V2.02" schemaLocation="tcl.xsd" />
  <xs:import namespace="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE3:DOC:V2.02" schemaLocation="doc.xsd" />
  <!--===== Root Element =====-->
  <xs:element name="IE820" type="ie:IE820Type" />
  <!--===== EMCS Data Groups Declarations =====-->
  <xs:complexType name="IE820Type">
    <xs:sequence>
      <xs:element name="Header" type="tms:HeaderType" />
      <xs:element name="Body" type="ie:BodyType" />
    </xs:sequence>
  </xs:complexType>
  <!--===== IE Specific Data Groups Declarations =====-->
  <xs:complexType name="BodyType">
    <xs:sequence>
      <xs:element name="HistoryResults" type="ie:HistoryResultsType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HistoryResultsType">
    <xs:sequence>
      <xs:element name="Attributes" type="ie:AttributesType" />
      <xs:element name="FollowUp" type="ie:FollowUpType" />
      <xs:element name="CCooSub" type="ie:CCooSubType" minOccurs="0" maxOccurs="99" />
      <xs:element name="CCooRes" type="ie:CCooResType" minOccurs="0" maxOccurs="99" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AttributesType">
    <xs:sequence>
      <xs:element name="InformationNotFoundFlag" type="tcl:Flag" />
      <xs:element name="FilteredInformationFlag" type="tcl:Flag" />
      <xs:element name="ComplementOfInformationExpectedFlag" type="tcl:Flag" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FollowUpType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="FOLLOW UP" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="FollowUpCorrelationId" type="emcs:FollowUpCorrelationIdType" />
      <xs:element name="DateOfIssuance" type="emcs:DateType" />
      <xs:element name="SenderMemberStateCode" type="emcs:MemberStateCodeType" />
      <xs:element name="SenderOfficeReferenceNumber" type="emcs:ExciseOfficeCodeType" minOccurs="0" />
      <xs:element name="SenderOfficer" type="emcs:SenderOfficerType" minOccurs="0" />
      <xs:element name="AddresseeMemberStateCode" type="emcs:MemberStateCodeType" />
      <xs:element name="AddresseeOfficeReferenceNumber" type="emcs:ExciseOfficeCodeType" minOccurs="0" />
      <xs:element name="AddresseeOfficer" type="emcs:AddresseeOfficerType" minOccurs="0" />
      <xs:element name="NationalCaseReferenceIdentifier" type="emcs:NationalCaseReferenceIdentifierType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CCooSubType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="C_COO_SUB" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AcoRequestType" type="tcl:AcoRequestType" />
      <xs:element name="DeadlineForResults" type="emcs:DateTimeType" minOccurs="0" />
      <xs:element name="FollowUp" type="ie:FollowUpType" />
      <xs:element name="AcoRequest" type="ie:AcoRequestType" minOccurs="0" />
      <xs:element name="HistoryRequest" type="ie:HistoryRequestType" minOccurs="0" />
      <xs:element name="Contact" type="ie:ContactType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AcoRequestType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(ADMINISTRATIVE COOPERATION) REQUEST" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AcoRequestInformation" type="ie:LSDAcoRequestInformationType" />
      <xs:element name="Flag" type="tcl:Flag" minOccurs="0" />
      <xs:element name="RequestReason" type="ie:RequestReasonType" maxOccurs="99" />
      <xs:element name="ArcList" type="ie:ArcListType" minOccurs="0" maxOccurs="99" />
      <xs:element name="PersonTrader" type="ie:PersonTraderType" minOccurs="0" maxOccurs="99" />
      <xs:element name="SupportingDocuments" type="ie:SupportingDocumentsType" minOccurs="0" maxOccurs="9" />
      <xs:element name="ActionsRequested" type="ie:ActionsRequestedType" minOccurs="0" maxOccurs="99" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RequestReasonType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="REQUEST REASON" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AcoRequestReasonCode" type="emcs:AcoRequestReasonCodeType" />
      <xs:element name="AcoComplementaryInformation" type="ie:LSDAcoComplementaryInformationType" minOccurs="0" />
      <xs:element name="RiskAssessmentReference" type="ie:RiskAssessmentReferenceType" minOccurs="0" maxOccurs="99" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RiskAssessmentReferenceType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="RISK ASSESSMENT REFERENCE" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="OtherRiskProfile" type="ie:LSDOtherRiskProfileType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArcListType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="ARC LIST" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AdministrativeReferenceCode" type="emcs:AdministrativeReferenceCodeType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonTraderType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(PERSON) TRADER" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TraderExciseNumber" type="emcs:ExciseNumberType" minOccurs="0" />
      <xs:element name="VatNumber" type="emcs:VatNumberType" minOccurs="0" />
      <xs:element name="TraderName" type="emcs:TraderNameType" minOccurs="0" />
      <xs:element name="MemberStateCode" type="emcs:MemberStateCodeType" minOccurs="0" />
      <xs:element name="StreetName" type="emcs:StreetNameType" minOccurs="0" />
      <xs:element name="StreetNumber" type="emcs:StreetNumberType" minOccurs="0" />
      <xs:element name="Postcode" type="emcs:PostcodeType" minOccurs="0" />
      <xs:element name="City" type="emcs:CityType" minOccurs="0" />
      <xs:element name="PhoneNumber" type="emcs:PhoneNumberType" minOccurs="0" />
      <xs:element name="FaxNumber" type="emcs:FaxNumberType" minOccurs="0" />
      <xs:element name="EmailAddress" type="emcs:EmailAddressType" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="language" type="emcs:LanguageCodeType" use="optional" />
  </xs:complexType>
  <xs:complexType name="SupportingDocumentsType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="SUPPORTING DOCUMENTS" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SupportingDocumentDescription" type="ie:LSDSupportingDocumentDescriptionType" minOccurs="0" />
      <xs:element name="ReferenceOfSupportingDocument" type="ie:LSDReferenceOfSupportingDocumentType" minOccurs="0" />
      <xs:element name="ImageOfDocument" type="xs:base64Binary" minOccurs="0" />
      <xs:element name="SupportingDocumentType" type="emcs:SupportingDocumentTypeType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ActionsRequestedType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="ACTIONS REQUESTED" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AcoActionCode" type="emcs:AcoActionCodeType" />
      <xs:element name="AcoActionComplement" type="ie:LSDAcoActionComplementType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HistoryRequestType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="HISTORY REQUEST" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AdministrativeReferenceCode" type="emcs:AdministrativeReferenceCodeType" />
      <xs:element name="HistoryRequestScopeType" type="tcl:HistoryRequestScopeType" />
      <xs:element name="ScopeDate" type="emcs:DateType" minOccurs="0" />
      <xs:element name="HistoryRequestReason" type="ie:LSDHistoryRequestReasonType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ContactType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="CONTACT" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ReferenceNumber" type="emcs:ExciseOfficeCodeType" />
      <xs:element name="SubmittingExciseOfficer" type="emcs:SubmittingExciseOfficerType" minOccurs="0" />
      <xs:element name="TelNumber" type="emcs:TelNumberType" minOccurs="0" />
      <xs:element name="FaxNumber" type="emcs:FaxNumberType" minOccurs="0" />
      <xs:element name="EmailAddress" type="emcs:EmailAddressType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CCooResType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="C_COO_RES" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="FollowUp" type="ie:FollowUpType" />
      <xs:element name="Contact" type="ie:ContactType" minOccurs="0" />
      <xs:element name="AcoActionResult" type="ie:AcoActionResultType" minOccurs="0" maxOccurs="99" />
      <xs:element name="SupportingDocuments" type="ie:SupportingDocumentsType" minOccurs="0" maxOccurs="9" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AcoActionResultType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(ADMINISTRATIVE COOPERATION) ACTION RESULT" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AdministrativeReferenceCode" type="emcs:AdministrativeReferenceCodeType" minOccurs="0" />
      <xs:element name="AcoActionCode" type="emcs:AcoActionCodeType" />
      <xs:element name="AcoActionComplement" type="ie:LSDAcoActionComplementType" minOccurs="0" />
      <xs:element name="AcoActionNotPossibleReasonCode" type="emcs:AcoActionNotPossibleReasonCodeType" minOccurs="0" />
      <xs:element name="AcoActionNotPossibleReasonComplement" type="ie:LSDAcoActionNotPossibleReasonComplementType" minOccurs="0" />
      <xs:element name="FindingAtDestination" type="tcl:FindingAtDestination" minOccurs="0" />
      <xs:element name="OtherFindingType" type="ie:LSDOtherFindingTypeType" minOccurs="0" />
      <xs:element name="ComplementaryExplanations" type="ie:LSDComplementaryExplanationsType" minOccurs="0" />
      <xs:element name="ControlReportReference" type="emcs:ControlReportReferenceType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LSDAcoActionComplementType">
    <xs:simpleContent>
      <xs:extension base="emcs:AcoActionComplementType">
        <xs:attribute name="language" type="emcs:LanguageCodeType" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LSDAcoActionNotPossibleReasonComplementType">
    <xs:simpleContent>
      <xs:extension base="emcs:AcoActionNotPossibleReasonComplementType">
        <xs:attribute name="language" type="emcs:LanguageCodeType" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LSDAcoComplementaryInformationType">
    <xs:simpleContent>
      <xs:extension base="emcs:AcoComplementaryInformationType">
        <xs:attribute name="language" type="emcs:LanguageCodeType" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LSDAcoRequestInformationType">
    <xs:simpleContent>
      <xs:extension base="emcs:AcoRequestInformationType">
        <xs:attribute name="language" type="emcs:LanguageCodeType" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LSDComplementaryExplanationsType">
    <xs:simpleContent>
      <xs:extension base="emcs:ComplementaryExplanationsType">
        <xs:attribute name="language" type="emcs:LanguageCodeType" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LSDHistoryRequestReasonType">
    <xs:simpleContent>
      <xs:extension base="emcs:HistoryRequestReasonType">
        <xs:attribute name="language" type="emcs:LanguageCodeType" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LSDOtherFindingTypeType">
    <xs:simpleContent>
      <xs:extension base="emcs:OtherFindingTypeType">
        <xs:attribute name="language" type="emcs:LanguageCodeType" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LSDOtherRiskProfileType">
    <xs:simpleContent>
      <xs:extension base="emcs:OtherRiskProfileType">
        <xs:attribute name="language" type="emcs:LanguageCodeType" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LSDReferenceOfSupportingDocumentType">
    <xs:simpleContent>
      <xs:extension base="emcs:ReferenceOfSupportingDocumentType">
        <xs:attribute name="language" type="emcs:LanguageCodeType" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LSDSupportingDocumentDescriptionType">
    <xs:simpleContent>
      <xs:extension base="emcs:SupportingDocumentDescriptionType">
        <xs:attribute name="language" type="emcs:LanguageCodeType" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>

