schema/ie825.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ie="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:IE825:V3.01" xmlns:emcs="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:EMCS:V3.01" xmlns:tms="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:TMS:V3.01" xmlns:tcl="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:TCL:V3.01" xmlns:doc="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:DOC:V3.01" targetNamespace="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:IE825:V3.01" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.00">
  <!--=========================================-->
  <!--===== IE825:E_SPL_SUB -->
  <!--===== SUBMITTED DRAFT OF SPLITTING OPERATION -->
  <!--=========================================-->
  <!--===== Imports =====-->
  <xs:import namespace="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:EMCS:V3.01" schemaLocation="types.xsd" />
  <xs:import namespace="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:TMS:V3.01" schemaLocation="tms.xsd" />
  <xs:import namespace="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:TCL:V3.01" schemaLocation="tcl.xsd" />
  <xs:import namespace="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:DOC:V3.01" schemaLocation="doc.xsd" />
  <!--===== Root Element =====-->
  <xs:element name="IE825" type="ie:IE825Type" />
  <!--===== EMCS Data Groups Declarations =====-->
  <xs:complexType name="IE825Type">
    <xs:sequence>
      <xs:element name="Header" type="tms:HeaderType" />
      <xs:element name="Body" type="ie:BodyType" />
    </xs:sequence>
  </xs:complexType>
  <!--===== IE Specific Data Groups Declarations =====-->
  <xs:complexType name="BodyType">
    <xs:sequence>
      <xs:element name="SubmittedDraftOfSplittingOperation" type="ie:SubmittedDraftOfSplittingOperationType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SubmittedDraftOfSplittingOperationType">
    <xs:sequence>
      <xs:element name="SplittingEad" type="ie:SplittingEadType" />
      <xs:element name="SplitDetailsEad" type="ie:SplitDetailsEadType" maxOccurs="9" />
      <xs:element name="MsaOfSplitting" type="ie:MsaOfSplittingType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SplittingEadType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(SPLITTING) E-AD" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="UpstreamArc" type="emcs:UpstreamArcType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SplitDetailsEadType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(SPLIT DETAILS) E-AD" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="LocalReferenceNumber" type="emcs:LocalReferenceNumberType" />
      <xs:element name="JourneyTime" type="emcs:JourneyTimeType" minOccurs="0" />
      <xs:element name="ChangedTransportArrangement" type="tcl:TransportArrangement" minOccurs="0" />
      <xs:element name="DestinationChanged" type="ie:DestinationChangedType" />
      <xs:element name="NewConsigneeTrader" type="ie:NewConsigneeTraderType" minOccurs="0" />
      <xs:element name="DeliveryPlaceTrader" type="ie:DeliveryPlaceTraderType" minOccurs="0" />
      <xs:element name="DeliveryPlaceCustomsOffice" type="ie:DeliveryPlaceCustomsOfficeType" minOccurs="0" />
      <xs:element name="NewTransportArrangerTrader" type="ie:NewTransportArrangerTraderType" minOccurs="0" />
      <xs:element name="NewTransporterTrader" type="ie:NewTransporterTraderType" minOccurs="0" />
      <xs:element name="TransportDetails" type="ie:TransportDetailsType" minOccurs="0" maxOccurs="99" />
      <xs:element name="BodyEad" type="ie:BodyEadType" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DestinationChangedType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(DESTINATION) CHANGED" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DestinationTypeCode" type="tcl:SplittingDestinationTypeCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NewConsigneeTraderType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(NEW CONSIGNEE) TRADER" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Traderid" type="emcs:TraderidType" minOccurs="0" />
      <xs:element name="TraderName" type="emcs:TraderNameType" />
      <xs:element name="StreetName" type="emcs:StreetNameType" />
      <xs:element name="StreetNumber" type="emcs:StreetNumberType" minOccurs="0" />
      <xs:element name="Postcode" type="emcs:PostcodeType" />
      <xs:element name="City" type="emcs:CityType" />
      <xs:element name="EoriNumber" type="emcs:EoriNumberType" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="language" type="emcs:LanguageCodeType" use="required" />
  </xs:complexType>
  <xs:complexType name="DeliveryPlaceTraderType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(DELIVERY PLACE) TRADER" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Traderid" type="emcs:TraderidType" minOccurs="0" />
      <xs:element name="TraderName" type="emcs:TraderNameType" minOccurs="0" />
      <xs:element name="StreetName" type="emcs:StreetNameType" minOccurs="0" />
      <xs:element name="StreetNumber" type="emcs:StreetNumberType" minOccurs="0" />
      <xs:element name="Postcode" type="emcs:PostcodeType" minOccurs="0" />
      <xs:element name="City" type="emcs:CityType" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="language" type="emcs:LanguageCodeType" use="optional" />
  </xs:complexType>
  <xs:complexType name="DeliveryPlaceCustomsOfficeType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(DELIVERY PLACE) CUSTOMS OFFICE" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ReferenceNumber" type="emcs:ExciseOfficeCodeType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NewTransportArrangerTraderType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(NEW TRANSPORT ARRANGER) TRADER" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="VatNumber" type="emcs:VatNumberType" minOccurs="0" />
      <xs:element name="TraderName" type="emcs:TraderNameType" />
      <xs:element name="StreetName" type="emcs:StreetNameType" />
      <xs:element name="StreetNumber" type="emcs:StreetNumberType" minOccurs="0" />
      <xs:element name="Postcode" type="emcs:PostcodeType" />
      <xs:element name="City" type="emcs:CityType" />
    </xs:sequence>
    <xs:attribute name="language" type="emcs:LanguageCodeType" use="required" />
  </xs:complexType>
  <xs:complexType name="NewTransporterTraderType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(NEW TRANSPORTER) TRADER" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="VatNumber" type="emcs:VatNumberType" minOccurs="0" />
      <xs:element name="TraderName" type="emcs:TraderNameType" />
      <xs:element name="StreetName" type="emcs:StreetNameType" />
      <xs:element name="StreetNumber" type="emcs:StreetNumberType" minOccurs="0" />
      <xs:element name="Postcode" type="emcs:PostcodeType" />
      <xs:element name="City" type="emcs:CityType" />
    </xs:sequence>
    <xs:attribute name="language" type="emcs:LanguageCodeType" use="required" />
  </xs:complexType>
  <xs:complexType name="TransportDetailsType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="TRANSPORT DETAILS" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TransportUnitCode" type="emcs:TransportUnitCodeType" />
      <xs:element name="IdentityOfTransportUnits" type="emcs:IdentityOfTransportUnitsType" minOccurs="0" />
      <xs:element name="CommercialSealIdentification" type="emcs:CommercialSealIdentificationType" minOccurs="0" />
      <xs:element name="SealInformation" type="ie:LSDSealInformationType" minOccurs="0" />
      <xs:element name="ComplementaryInformation" type="ie:LSDComplementaryInformationType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BodyEadType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(BODY) E-AD" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="BodyRecordUniqueReference" type="emcs:BodyRecordUniqueReferenceType" />
      <xs:element name="ExciseProductCode" type="emcs:ExciseProductCodeType" />
      <xs:element name="CnCode" type="emcs:CnCodeType" />
      <xs:element name="Quantity" type="emcs:QuantityType" />
      <xs:element name="GrossMass" type="emcs:GrossMassType" />
      <xs:element name="NetMass" type="emcs:NetMassType" />
      <xs:element name="FiscalMark" type="ie:LSDFiscalMarkType" minOccurs="0" />
      <xs:element name="FiscalMarkUsedFlag" type="tcl:Flag" minOccurs="0" />
      <xs:element name="Density" type="emcs:DensityType" minOccurs="0" />
      <xs:element name="CommercialDescription" type="ie:LSDCommercialDescriptionType" minOccurs="0" />
      <xs:element name="BrandNameOfProducts" type="ie:LSDBrandNameOfProductsType" minOccurs="0" />
      <xs:element name="Package" type="ie:PackageType" maxOccurs="99" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PackageType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="PACKAGE" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="KindOfPackages" type="emcs:KindOfPackagesType" />
      <xs:element name="NumberOfPackages" type="emcs:NumberOfPackagesType" minOccurs="0" />
      <xs:element name="ShippingMarks" type="emcs:ShippingMarksType" minOccurs="0" />
      <xs:element name="CommercialSealIdentification" type="emcs:CommercialSealIdentificationType" minOccurs="0" />
      <xs:element name="SealInformation" type="ie:LSDSealInformationType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MsaOfSplittingType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="MSA OF SPLITTING" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="MemberStateCode" type="emcs:MemberStateCodeType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LSDBrandNameOfProductsType">
    <xs:simpleContent>
      <xs:extension base="emcs:BrandNameOfProductsType">
        <xs:attribute name="language" type="emcs:LanguageCodeType" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LSDCommercialDescriptionType">
    <xs:simpleContent>
      <xs:extension base="emcs:CommercialDescriptionType">
        <xs:attribute name="language" type="emcs:LanguageCodeType" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LSDComplementaryInformationType">
    <xs:simpleContent>
      <xs:extension base="emcs:ComplementaryInformationType">
        <xs:attribute name="language" type="emcs:LanguageCodeType" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LSDFiscalMarkType">
    <xs:simpleContent>
      <xs:extension base="emcs:FiscalMarkType">
        <xs:attribute name="language" type="emcs:LanguageCodeType" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LSDSealInformationType">
    <xs:simpleContent>
      <xs:extension base="emcs:SealInformationType">
        <xs:attribute name="language" type="emcs:LanguageCodeType" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>
