schema/ie840.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ie="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE3:IE840:V2.02" xmlns:emcs="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE3:EMCS:V2.02" xmlns:tms="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE3:TMS:V2.02" xmlns:tcl="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE3:TCL:V2.02" xmlns:doc="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE3:DOC:V2.02" targetNamespace="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE3:IE840:V2.02" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.00">
  <!--=========================================-->
  <!--===== IE840:C_EVT_DAT -->
  <!--===== EVENT REPORT -->
  <!--=========================================-->
  <!--===== Imports =====-->
  <xs:import namespace="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE3:EMCS:V2.02" schemaLocation="types.xsd" />
  <xs:import namespace="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE3:TMS:V2.02" schemaLocation="tms.xsd" />
  <xs:import namespace="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE3:TCL:V2.02" schemaLocation="tcl.xsd" />
  <xs:import namespace="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE3:DOC:V2.02" schemaLocation="doc.xsd" />
  <!--===== Root Element =====-->
  <xs:element name="IE840" type="ie:IE840Type" />
  <!--===== EMCS Data Groups Declarations =====-->
  <xs:complexType name="IE840Type">
    <xs:sequence>
      <xs:element name="Header" type="tms:HeaderType" />
      <xs:element name="Body" type="ie:BodyType" />
    </xs:sequence>
  </xs:complexType>
  <!--===== IE Specific Data Groups Declarations =====-->
  <xs:complexType name="BodyType">
    <xs:sequence>
      <xs:element name="EventReportEnvelope" type="ie:EventReportEnvelopeType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EventReportEnvelopeType">
    <xs:sequence>
      <xs:element name="Attributes" type="ie:AttributesType" />
      <xs:element name="HeaderEventReport" type="ie:HeaderEventReportType" />
      <xs:element name="ExciseMovementEad" type="ie:ExciseMovementEadType" minOccurs="0" />
      <xs:element name="OtherAccompanyingDocument" type="ie:OtherAccompanyingDocumentType" minOccurs="0" />
      <xs:element name="EventReport" type="ie:EventReportType" />
      <xs:element name="EvidenceOfEvent" type="ie:EvidenceOfEventType" minOccurs="0" maxOccurs="9" />
      <xs:element name="NewTransportArrangerTrader" type="ie:NewTransportArrangerTraderType" minOccurs="0" />
      <xs:element name="NewTransporterTrader" type="ie:NewTransporterTraderType" minOccurs="0" />
      <xs:element name="TransportDetails" type="ie:TransportDetailsType" minOccurs="0" maxOccurs="99" />
      <xs:element name="BodyEventReport" type="ie:BodyEventReportType" minOccurs="0" maxOccurs="99" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AttributesType">
    <xs:sequence>
      <xs:element name="EventReportMessageType" type="tcl:ReportMessageType" />
      <xs:element name="DateAndTimeOfValidationOfEventReport" type="emcs:DateTimeType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HeaderEventReportType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(HEADER) EVENT REPORT" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="EventReportNumber" type="emcs:EventReportNumberType" minOccurs="0" />
      <xs:element name="MsOfSubmissionEventReportReference" type="emcs:MsOfSubmissionEventReportReferenceType" minOccurs="0" />
      <xs:element name="ReferenceNumberOfExciseOffice" type="emcs:ExciseOfficeCodeType" />
      <xs:element name="MemberStateOfEvent" type="emcs:MemberStateCodeType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExciseMovementEadType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="EXCISE MOVEMENT E-AD" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AdministrativeReferenceCode" type="emcs:AdministrativeReferenceCodeType" />
      <xs:element name="SequenceNumber" type="emcs:SequenceNumberType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OtherAccompanyingDocumentType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="OTHER ACCOMPANYING DOCUMENT" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="OtherAccompanyingDocumentType" type="tcl:OtherAccompanyingDocumentType" />
      <xs:element name="ShortDescriptionOfOtherAccompanyingDocument" type="ie:LSDShortDescriptionOfOtherAccompanyingDocumentType" minOccurs="0" />
      <xs:element name="OtherAccompanyingDocumentNumber" type="emcs:OtherAccompanyingDocumentNumberType" />
      <xs:element name="OtherAccompanyingDocumentDate" type="emcs:DateType" />
      <xs:element name="ImageOfOtherAccompanyingDocument" type="xs:base64Binary" minOccurs="0" />
      <xs:element name="MemberStateOfDispatch" type="emcs:MemberStateOfDispatchType" />
      <xs:element name="MemberStateOfDestination" type="emcs:MemberStateOfDestinationType" />
      <xs:element name="PersonInvolvedInMovementTrader" type="ie:PersonInvolvedInMovementTraderType" minOccurs="0" maxOccurs="9" />
      <xs:element name="GoodsItem" type="ie:GoodsItemType" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="MeansOfTransport" type="ie:MeansOfTransportType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonInvolvedInMovementTraderType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(PERSON INVOLVED IN MOVEMENT) TRADER" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TraderExciseNumber" type="emcs:ExciseNumberType" minOccurs="0" />
      <xs:element name="Traderid" type="emcs:TraderidType" minOccurs="0" />
      <xs:element name="TraderName" type="emcs:TraderNameType" minOccurs="0" />
      <xs:element name="TraderPersonType" type="tcl:TraderPersonType" minOccurs="0" />
      <xs:element name="MemberStateCode" type="emcs:MemberStateCodeType" minOccurs="0" />
      <xs:element name="StreetName" type="emcs:StreetNameType" minOccurs="0" />
      <xs:element name="StreetNumber" type="emcs:StreetNumberType" minOccurs="0" />
      <xs:element name="Postcode" type="emcs:PostcodeType" minOccurs="0" />
      <xs:element name="City" type="emcs:CityType" minOccurs="0" />
      <xs:element name="PhoneNumber" type="emcs:PhoneNumberType" minOccurs="0" />
      <xs:element name="FaxNumber" type="emcs:FaxNumberType" minOccurs="0" />
      <xs:element name="EmailAddress" type="emcs:EmailAddressType" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="language" type="emcs:LanguageCodeType" use="optional" />
  </xs:complexType>
  <xs:complexType name="GoodsItemType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="GOODS ITEM" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DescriptionOfTheGoods" type="emcs:DescriptionOfTheGoodsType" minOccurs="0" />
      <xs:element name="CnCode" type="emcs:CnCodeType" minOccurs="0" />
      <xs:element name="CommercialDescriptionOfTheGoods" type="emcs:CommercialDescriptionOfTheGoodsType" minOccurs="0" />
      <xs:element name="AdditionalCode" type="emcs:AdditionalCodeType" minOccurs="0" />
      <xs:element name="Quantity" type="emcs:QuantityType" minOccurs="0" />
      <xs:element name="UnitOfMeasureCode" type="emcs:UnitOfMeasureCodeType" minOccurs="0" />
      <xs:element name="GrossWeight" type="emcs:GrossWeightType" minOccurs="0" />
      <xs:element name="NetWeight" type="emcs:NetWeightType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MeansOfTransportType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="MEANS OF TRANSPORT" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TraderName" type="emcs:TraderNameType" />
      <xs:element name="StreetName" type="emcs:StreetNameType" />
      <xs:element name="StreetNumber" type="emcs:StreetNumberType" minOccurs="0" />
      <xs:element name="TransporterCountry" type="emcs:TransporterCountryType" />
      <xs:element name="Postcode" type="emcs:PostcodeType" />
      <xs:element name="City" type="emcs:CityType" />
      <xs:element name="TransportModeCode" type="emcs:TransportModeCodeType" />
      <xs:element name="AcoComplementaryInformation" type="ie:LSDAcoComplementaryInformationType" minOccurs="0" />
      <xs:element name="Registration" type="emcs:RegistrationType" />
      <xs:element name="CountryOfRegistration" type="emcs:CountryOfRegistrationType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EventReportType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="EVENT REPORT" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DateOfEvent" type="emcs:DateType" />
      <xs:element name="PlaceOfEvent" type="ie:LSDPlaceOfEventType" />
      <xs:element name="ExciseOfficerIdentification" type="emcs:ExciseOfficerIdentificationType" minOccurs="0" />
      <xs:element name="SubmittingPerson" type="emcs:SubmittingPersonType" />
      <xs:element name="SubmittingPersonCode" type="emcs:SubmittingPersonCodeType" />
      <xs:element name="SubmittingPersonComplement" type="ie:LSDSubmittingPersonComplementType" minOccurs="0" />
      <xs:element name="ChangedTransportArrangement" type="tcl:TransportArrangement" minOccurs="0" />
      <xs:element name="Comments" type="ie:LSDCommentsType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EvidenceOfEventType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="EVIDENCE OF EVENT" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="IssuingAuthority" type="ie:LSDIssuingAuthorityType" minOccurs="0" />
      <xs:element name="EvidenceTypeCode" type="emcs:EvidenceTypeCodeType" />
      <xs:element name="ReferenceOfEvidence" type="ie:LSDReferenceOfEvidenceType" />
      <xs:element name="ImageOfEvidence" type="xs:base64Binary" minOccurs="0" />
      <xs:element name="EvidenceTypeComplement" type="ie:LSDEvidenceTypeComplementType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NewTransportArrangerTraderType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(NEW TRANSPORT ARRANGER) TRADER" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="VatNumber" type="emcs:VatNumberType" minOccurs="0" />
      <xs:element name="TraderName" type="emcs:TraderNameType" />
      <xs:element name="StreetName" type="emcs:StreetNameType" />
      <xs:element name="StreetNumber" type="emcs:StreetNumberType" minOccurs="0" />
      <xs:element name="Postcode" type="emcs:PostcodeType" />
      <xs:element name="City" type="emcs:CityType" />
    </xs:sequence>
    <xs:attribute name="language" type="emcs:LanguageCodeType" use="required" />
  </xs:complexType>
  <xs:complexType name="NewTransporterTraderType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(NEW TRANSPORTER) TRADER" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="VatNumber" type="emcs:VatNumberType" minOccurs="0" />
      <xs:element name="TraderName" type="emcs:TraderNameType" />
      <xs:element name="StreetName" type="emcs:StreetNameType" />
      <xs:element name="StreetNumber" type="emcs:StreetNumberType" minOccurs="0" />
      <xs:element name="Postcode" type="emcs:PostcodeType" />
      <xs:element name="City" type="emcs:CityType" />
    </xs:sequence>
    <xs:attribute name="language" type="emcs:LanguageCodeType" use="required" />
  </xs:complexType>
  <xs:complexType name="TransportDetailsType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="TRANSPORT DETAILS" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TransportUnitCode" type="emcs:TransportUnitCodeType" />
      <xs:element name="IdentityOfTransportUnits" type="emcs:IdentityOfTransportUnitsType" minOccurs="0" />
      <xs:element name="CommercialSealIdentification" type="emcs:CommercialSealIdentificationType" minOccurs="0" />
      <xs:element name="ComplementaryInformation" type="ie:LSDComplementaryInformationType" minOccurs="0" />
      <xs:element name="SealInformation" type="ie:LSDSealInformationType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BodyEventReportType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(BODY) EVENT REPORT" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="EventTypeCode" type="emcs:EventTypeCodeType" />
      <xs:element name="AssociatedInformation" type="ie:LSDAssociatedInformationType" minOccurs="0" />
      <xs:element name="BodyRecordUniqueReference" type="emcs:BodyRecordUniqueReferenceType" minOccurs="0" />
      <xs:element name="DescriptionOfTheGoods" type="emcs:DescriptionOfTheGoodsType" minOccurs="0" />
      <xs:element name="CnCode" type="emcs:CnCodeType" minOccurs="0" />
      <xs:element name="AdditionalCode" type="emcs:AdditionalCodeType" minOccurs="0" />
      <xs:element name="IndicatorOfShortageOrExcess" type="tcl:IndicatorOfShortageOrExcess" minOccurs="0" />
      <xs:element name="ObservedShortageOrExcess" type="emcs:ObservedShortageOrExcessType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LSDAcoComplementaryInformationType">
    <xs:simpleContent>
      <xs:extension base="emcs:AcoComplementaryInformationType">
        <xs:attribute name="language" type="emcs:LanguageCodeType" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LSDAssociatedInformationType">
    <xs:simpleContent>
      <xs:extension base="emcs:AssociatedInformationType">
        <xs:attribute name="language" type="emcs:LanguageCodeType" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LSDCommentsType">
    <xs:simpleContent>
      <xs:extension base="emcs:CommentsType">
        <xs:attribute name="language" type="emcs:LanguageCodeType" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LSDComplementaryInformationType">
    <xs:simpleContent>
      <xs:extension base="emcs:ComplementaryInformationType">
        <xs:attribute name="language" type="emcs:LanguageCodeType" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LSDEvidenceTypeComplementType">
    <xs:simpleContent>
      <xs:extension base="emcs:EvidenceTypeComplementType">
        <xs:attribute name="language" type="emcs:LanguageCodeType" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LSDIssuingAuthorityType">
    <xs:simpleContent>
      <xs:extension base="emcs:IssuingAuthorityType">
        <xs:attribute name="language" type="emcs:LanguageCodeType" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LSDPlaceOfEventType">
    <xs:simpleContent>
      <xs:extension base="emcs:PlaceOfEventType">
        <xs:attribute name="language" type="emcs:LanguageCodeType" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LSDReferenceOfEvidenceType">
    <xs:simpleContent>
      <xs:extension base="emcs:ReferenceOfEvidenceType">
        <xs:attribute name="language" type="emcs:LanguageCodeType" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LSDSealInformationType">
    <xs:simpleContent>
      <xs:extension base="emcs:SealInformationType">
        <xs:attribute name="language" type="emcs:LanguageCodeType" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LSDShortDescriptionOfOtherAccompanyingDocumentType">
    <xs:simpleContent>
      <xs:extension base="emcs:ShortDescriptionOfOtherAccompanyingDocumentType">
        <xs:attribute name="language" type="emcs:LanguageCodeType" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LSDSubmittingPersonComplementType">
    <xs:simpleContent>
      <xs:extension base="emcs:SubmittingPersonComplementType">
        <xs:attribute name="language" type="emcs:LanguageCodeType" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>

